    <div class="row">
      {% for state in collections.states %}
        {% if loop.first or loop.index == 20 or loop.index == 39 %}
          <div class="col-xs-12 col-sm-4">
            <div class="list-group">
        {% endif %}
          
          <a class="list-group-item{% if state == title %} active{% endif %}" href="states/{{state.title|slug}}">{{state.title|safe}}</a>

        {% if loop.last or loop.index == 19 or loop.index == 38 %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>