.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner > li {
    display:inline-block;
    float: none;
}

.navbar {
  margin-bottom: 0;
  .nav {
    padding-bottom: 20px;
    & > li > a {
      color: $navbar-default-link-color;
      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: transparent;
      }
    }
  }
}