<header class="navbar navbar-default ">

      {% include "../../atoms/navbar_brand/navbar_brand.html" %}

      {% include "../../atoms/navbar_toggle/navbar_toggle.html" %}

      <div class="navbar-collapse collapse" role="navigation">
        <h2 class="sr-only">Main menu</h2>
        <ul id="main-nav" class="nav navbar-nav links clearfix" role="menubar">
          {% for navItem in navigation.primary %}
            {% include "../../atoms/navigation_item/navigation_item.html" %}
          {% endfor %}
        </ul>
      </div>

</header>
