  <!doctype html>
<html>
<head>
  {% if NODE_ENV == "gh" %}
    {% set baseURL = npm_package_config_kstatic_gh_base %}
  {% else %}
    {% set baseURL = npm_package_config_kstatic_base_url %}
  {% endif %}
  <base href="{{baseURL}}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="apple-touch-icon" href="images/touch-icon.png">
  <link rel="icon" href="images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#f00">
  <meta name="msapplication-TileImage" content="/images/tileicon.png">

  <meta itemprop="name" content="{{ config.title }}" />
  <!-- <meta itemprop="image" content="[ LISTING IMAGE ]" /> -->
  <meta itemprop="description" content="{{ config.description }}" />

  <meta property="og:title" content="{{ config.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ config.definition }}" />
  <!-- <meta property="og:image" content="[ LISTING IMAGE ]" /> -->
  <meta property="og:url" content="http://superdelegatedemocracy.com/" />
  <meta property="og:site_name" content="{{ config.title }}" />

  <meta name="twitter:card" content="{{ config.description }}">
  <meta name="twitter:title" content="{{ config.title }}">
  <meta name="twitter:description" content="{{ config.definition }}">
  <!-- <meta name="twitter:image" content="[ LISTING IMAGE ]"> -->
  <meta name="twitter:url" content="http://superdelegatedemocracy.com/">

  <title>
    {% block title %}{{config.title | title}}{% endblock %}
  </title>

  {% block head %}
    <meta name="description" content="{{ config.description }}">
  {% endblock %}

  {% block styles %}
    {{kstatic.scripts|safe}}
    {% for script in config.scripts.header %}
      <script src="{{script|bustcache}}"></script>
    {% endfor %}
    <!-- {{kstatic.styles|safe}} -->
    {% for sheet in config.stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{sheet|bustcache}}">
    {% endfor %}
  {% endblock %}

</head>
<body class="{% if pageSlug %}{{pageSlug}}{% else %}{{title|slug}}{% endif %}">

  <h1>Did it work</h1>
  {% block header %}
    {% set headerComponent = "../"+config.headerComponent %}
    {% include headerComponent %}
  {% endblock %}

  <main role="main" class="main">
    <div class="container-fluid">
    {% block contents %}

      <article>

        <div class="content">
          <h1>{{ title }}</h1>
          <p>{{ description }}</p>
        </div>

        {{contents|safe}}

      </article>

    {% endblock %}
    </div>
  </main>

  {% block footer %}
    {% set footerComponent = "../"+config.footerComponent %}
    {% include footerComponent %}
  {% endblock %}

  {% block page-suffix %}
  {% endblock %}

  {% block scripts %}
    {% for script in config.scripts.footer %}
      <script src="{{script|bustcache}}"></script>
    {% endfor %}
  {% endblock %}

</body>
</html>
