html,
body,
body > main {
  // height: 100%;
  background-color: $gray-light;
}

body {
  // @extend %breakpoint-visualizer;
}

.text-white {
  color: #fff;
}

.font-mono { font-family: $font-family-monospace; }
.font-serif { font-family: $font-family-serif; }

@media (min-width: $screen-sm){
  .lead {
      font-size: 30px;
  }
}

.padded {
  padding: 7em 0;
}
.padded-sm {
  padding: 3em 0;
}

.btn-warning {
    background: #EECA5D;
    border-radius: 2px;
    font-weight: bold;
}

.bk-tone-btm {
  background-image:url(../images/halftone-btm.png);
  background-position: center bottom;
  background-repeat: repeat-x;
}

.bk-tone-top {
  background-image:url(../images/halftone-top.png);
  background-position: center top;
  background-repeat: repeat-x;
}

.bk-red {
  background-color:$red;
  color: #FFF;
}

.bk-blue {
  background-color:$blue;
  color: #FFF;
}

.bk-white {
  background-color: #FFF;
  color: #000;
}