.footer {
  background-color: $gray-dark;
  color: $yellow;

  .small-print {
    color: $gray-mid;
    a {
      color: $yellow;
      &:hover {
        color: darken($yellow,30%);
      }
    }
  }
}