<footer class="footer">

  <ul class="nav navbar-nav footer-nav" role="menu">
    {% for navItem in navigation.footer %}
      {% include "../../atoms/footer_item/footer_item.html" %}
    {% endfor %}
  </ul>

  <div class="footer-tier">

    <ul class="nav navbar-nav links social" role="menu">
      <li class="twitter">
        <a href="#"><span class="sr-only">Twitter</span></a>
      </li>
    </ul>


  </div>


  <div class="small-print">
    <div class="copyright">&copy;-left</div>

    <ul class="links policies">
      <li class="">
        <a href="#"><span>Privacy Policy</span></a>
      </li>
    </ul>
  </div>
</footer>
