    {% set delCount = 0 %}
    {% for row, val in gSheets["Delegates"].rows %}
      {% if val.state == abbr or val.state == title %}

        {% set delCount += 1 %}

        {% if delCount % 2 === 0 %}
          {% set delClass = 'col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-0' %}
        {% else %}
          {% set delClass = 'col-xs-10 col-xs-offset-1 col-lg-5 col-lg-offset-1' %}
          <div class="row">
        {% endif %}

      <div class="delegate bk-white {{ delClass }} endorse-{{val.candidate|lower|default('uncommitted')}}">
        <div class="row ">
          <div class="title">{{val.candidate|safe|default('Uncommitted')}}</div>
        </div>
        <div class="row">

          <div class="col-xs-12 text-center">
            <p><strong class="lead">{{val.name|safe}}</strong>
              <br><em>{{val.title|safe}}</em></p>
          </div>
          {% if val.facebook or val.twitter or val.youtube or val.website %}
          <div class="col-xs-12 del-social text-center">
            {% if val.facebook %}
            <a href="{{val.facebook|replace('\s','')}}">
              <span class="fa-stack fa-lg visible-xs-inline-block">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span><span class="hidden-xs btn btn-warning"><i class="fa fa-facebook fa-lg"></i> Facebook</span></a>
            {% endif %}
            {% if val.twitter %}
            <a href="https://twitter.com/{{val.twitter|safe|replace('(https?://)?(twitter.com/)?@?','')|replace('\s','')}}">
              <span class="fa-stack fa-lg visible-xs-inline-block">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span><span class="hidden-xs btn btn-warning"><i class="fa fa-twitter fa-lg"></i> Twitter</span></a>
            {% endif %}
            {% if val.youtube %}
            <a href="{{val.youtube|replace('\s','')}}">
              <span class="fa-stack fa-lg visible-xs-inline-block">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span><span class="hidden-xs btn btn-warning"><i class="fa fa-youtube fa-lg"></i> Youtube</span></a>
            {% endif %}
            {% if val.website %}
            <a href="https://{{val.website|safe|replace('^https?://','')|replace('\s','')}}">
              <span class="fa-stack fa-lg visible-xs-inline-block">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
              </span><span class="hidden-xs btn btn-warning"><i class="fa fa-globe fa-lg"></i> Website</span></a>
            {% endif %}
          </div>
          {% endif %}
        </div>

        
        {% if val.notes %}
        <div class="row del-note">
          <div class="col-xs-12">
            <div class="del-note-header clearfix">
              <span>Notes</span>
            </div>
            <p class="font-mono">{{val.notes|safe}}</p>
          </div>
        </div>
        {% else %}
        <hr>
        {% endif %}
      </div>

      {% if delCount % 2 === 0 %}
        </div>
      {% endif %}


      {% endif %}
    {% endfor %}