.head-title {
  .subtitle {
  /* Superdelegates for: */
  transform: rotate(355deg);
  font-family: Arvo;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 43px;
  }

  .title {
  /* BERNIE SANDERS!: */
  transform: rotate(355deg);
  font-family: Bangers;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 69px;
  text-shadow: -2px -2px 0px #1A6FAF;
  margin: 0 0 50px;
  }
}