%list-group-item {
  padding: .5em 1em;
  border: none;
  border-radius: 0;
  border-bottom: 1px lighten($gray,50%) solid;
  &:hover {
    background-color: lighten($gray,60%);
  }
  a {
    display: block;
    padding-left: .75em;
  }
}

.list-group-item {
  @extend %list-group-item;
}
