%navbar-brand {
  padding: .75em 0 0 .75em;
  @media(min-width: $screen-sm) {
    padding: 1.25em 2em;
  }
  .logo {
    display: block;
    width: 314px;
    height: 134px;
    background-image: url(https://s.bsd.net/bernie16/main/page/-/Wrapper%20Images/logo-nov2015-splash@2x.png);
    background-size: cover;
    @media(min-width: $screen-sm) {
    }
  }
}

header .navbar-brand {
  @extend %navbar-brand;
}

footer .navbar-brand {
  @extend %navbar-brand;
  .logo {
    width: 200px;
    height: 32px;
  }
  float: none;
}
