
/* Super Delegates */

$red:        #F2422E;
$blue:       #3C8CC9;
$yellow:     #EECA5D;
$gray-dark:  #191919;
$gray-mid:   #D1D1D1;
$gray-light: #E9E9E9;

/* bootstrap overrides */

$btn-warning-color: #FFF;
$btn-warning-bg: $yellow;

$body-bg: #fff;
$nav-inverse: #aaa;

$c-highlight: #0af;

$btn-primary-bg: $gray-dark;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

$font-family-sans-serif:  'Arvo', Helvetica, Arial, sans-serif;
$font-family-serif:       'Arvo', Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;


$font-family-base: $font-family-serif;
$font-size-base:          16px;

$font-size-h1:            $font-size-base * 2.75;
$font-size-h2:            $font-size-base * 2.5;
$font-size-h3:            $font-size-base * 2;
$font-size-h4:            $font-size-base * 1.5;
$font-size-h5:            $font-size-base * 1.25;
$font-size-h6:            $font-size-base;

//** By default, this inherits from the `<body>`.
$headings-font-family:    'Bangers', Helvetica, Arial, sans-serif;

$navbar-height: auto;
$navbar-padding-horizontal: 2em;
$navbar-padding-vertical: 1.5em;

//Headers

$header-main-bg-color:              #3C8CC9;

// Navbar links
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          lighten($blue,80%);
$navbar-default-link-active-color:         darken($blue,80%);
$navbar-default-link-active-bg:            transparent;

$navbar-inverse-bg:                         rgba(0,0,0,.8);
$navbar-inverse-border:                     none;
$navbar-inverse-link-color:                 #fff;
$navbar-inverse-link-hover-color:           darken(#fff, 30%);

$jumbotron-padding:       2em;
$jumbotron-font-size:     1em;


//== Tabs
$nav-tabs-border-color:                     none;

$nav-tabs-link-hover-border-color:          transparent;

$nav-tabs-active-link-hover-bg:             transparent;
$nav-tabs-active-link-hover-color:          transparent;
$nav-tabs-active-link-hover-border-color:   none;

$nav-tabs-justified-link-border-color:            #ddd;
$nav-tabs-justified-active-link-border-color:     $body-bg;

$nav-tabs-border-color:                     none;

$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        transparent;
$navbar-default-toggle-border-color:       transparent;

$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         transparent;
$navbar-inverse-toggle-border-color:        transparent;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       transparent;

$screen-xs:                  640px;
$screen-sm:                  760px;
$screen-md:                  1000px;
$screen-lg:                  1200px;
$screen-xl:                  1500px;
$screen-xxl:                 1800px;
$grid-float-breakpoint:      $screen-md;
